.mynav {
	background-color: white !important;
}

.navfont {
	color: #7d3cff !important;
	font-weight: bold;
	font-size: 18px;
}
.navfont:hover {
	color: #fabe3c !important;
}

body {
	color: #fceed1 !important;
}

h1 {
	color: #7d3cff;
}

.navbar {
	min-height: 70px;
}

.brandname {
	color: #7d3cff !important;
	font-weight: bold;
	font-size: 30px;
}

.brandname:hover {
	color: #fabe3c !important;
}

.counseling {
	border-radius: 40px;
	background: #8d54ff !important;
	transition: all 0.3s ease 0s;
}

.counselingitem {
	color: white !important;
	font-weight: bold;
	font-size: 18px;
}
.counselingitem:hover {
	color: #8d54ff !important;
}

.counseling:hover {
	background: white !important;
	border: 1px solid #8d54ff !important;
}

.study {
	text-align: center;
	margin-top: 30px;
}

h4 {
	color: #691fff !important;
	text-align: center;
	margin-bottom: 0px;
}

.myfooter {
	background-color: #602cc9 !important;
}
